/* app/components/BottomSheet.module.css */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Latar belakang gelap transparan */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Posisikan sheet di bawah */
  z-index: 2000;
  -webkit-backdrop-filter: blur(2px); /* Efek blur untuk iOS */
  backdrop-filter: blur(2px); /* Efek blur */
}

.sheet {
  width: 100%;
  max-width: 500px; /* Lebar maksimum di layar besar */
  background-color: white;
  padding: 20px;
  padding-top: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: slide-up 0.3s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}